<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link href="~/Content/stylez.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
            @Html.ActionLink("Pet Hotel", "Index", "Home", new { }, new { @class = "navbar-brand" })
            <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Book", "NewReservation", "Reservation", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Edit Reservation", "ReservationCode", "Reservation", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Price List", "Prices", "Home", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact Us", "Contact", "Home", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About Us", "About", "Home", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item pull-md-right">@Html.ActionLink("Admin", "Index", "ControlPanel", new { Area = "Admin" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
            @RenderBody()
    </div>

    <script src="~/scripts/jquery-2.2.2.min.js"></script>
    <script src="~/scripts/tether/tether.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>