
@{
    ViewBag.Title = "Index";
}

<section class="container__content menu-list">
    <ul>
        <li class="menu-item">@Html.ActionLink("Book", "NewReservation", "Reservation")</li>
        <li class="menu-item">@Html.ActionLink("Edit Reservation", "ReservationCode", "Reservation")</li>
        <li class="menu-item">@Html.ActionLink("Price List", "Prices", "Home")</li>
        <li class="menu-item">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
        <li class="menu-item">@Html.ActionLink("About Us", "About", "Home")</li>
    </ul>
</section>

